body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f4;
    margin: 20px;
}

h1{
	text-align: center;
	color: #1a6c7c;
}

.cont {
    max-width: 800px;
    margin: auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #cbc9d3;
}

.filtros {
    margin-bottom: 20px;
}

.graf-cont {
    margin-top: 20px;
}
